<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gmail</title>
<link rel="shortcut icon" href="../../images/favicon.ico" />
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<!-- END Google Fonts -->
<link rel="stylesheet" type="text/css" href="../../css/reset.css" media="all" />
<link rel="stylesheet" type="text/css" href="../../css/styles.css" media="all" />
</head>
<body>
	<div id="main">
		<div class="wrapper">
			<!-- Header -->
			<header id="header" class="header-new">
				<div class="left-img">
					<img src="../../images/header-left.png" alt="" class="header-image">
				</div>
				<div class="header-buttons">
					<a class="header-drag-button">
						<img src="../../images/drag-icon.svg" alt="">
						<span>Drag</span>
					</a>
					<a class="header-notification-button">
						<img src="../../images/notification-icon.svg" alt="">
						<span class="notify brand-03"></span>
					</a>
				</div>
				<img src="../../images/header-right.png" alt="" class="header-image">
			</header>
			<!-- END Header -->
			
			<!-- Container -->
			<article id="container">
				<!-- Board View -->
				<div class="grid-container board-container">
					<div class="row board-header">
						<div class="col-11">
							<div class="drag-logo"><img src="../../images/drag-logo.png" alt=""></div>
						</div>
						<div class="col-1 button-holder">
							<a href="#" class="neutral-01 close-button">Close</a>
						</div>
					</div>
					<div class="row drag-body">
						<nav class="col-2">
							<!-- Nav Goes here -->
						</nav>
						<div class="col-9">
							<div class="drag-detail-header">
								<a href="#" class="back-to-tag-button neutral-03">
									<span class="icon-holder"><img src="../../images/back-arrow.svg" alt=""></span>
									<span class="text-holder">Back to Email Templates</span>
								</a>
							</div>
							<div class="drag-detail-body">
								<div class="row">
									<div class="col-3">
										<ul class="left-name-list">
											<li class="edited">
												<a href="#">
													<span class="icon-holder"><b></b></span>
													<p>Recruiting</p>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-holder"><b></b></span>
													<p>Email - 1</p>
												</a>
											</li>
											<li class="active">
												<a href="#">
													<span class="icon-holder"><b></b></span>
													<p>Email - 2</p>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-holder">
														<img src="../../images/create-new-icon.svg" alt="">
													</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-9 add-new-tag-content">
										<div class="row">
											<div class="col-12">
												<div class="each-box time-box">
													<div class="time-box-content">
														<div class="default-select-holder">
															<select name="" id="" class="default-select">
																<option value="">1</option>
																<option value="">2</option>
																<option value="">3</option>
															</select>
														</div>
														<div class="default-select-holder">
															<select name="" id="" class="default-select">
																<option value="">Days after</option>
																<option value="">Days after</option>
																<option value="">Days after</option>
															</select>
														</div>
														<p class="">@</p>
														<div class="default-select-holder">
															<select name="" id="" class="default-select">
																<option value="">09</option>
																<option value="">09</option>
																<option value="">09</option>
															</select>
														</div>
														<div class="default-select-holder">
															<select name="" id="" class="default-select">
																<option value="">00</option>
																<option value="">00</option>
																<option value="">00</option>
															</select>
														</div>
													</div>
													<p class="neutral-03 time-label">*Your local time</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<label for="" class="default-label">Compose email</label>
												<div class="">
													Placeholder for editor
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row drag-detail-footer">
									<div class="col-3"></div>
									<div class="col-9">
										<div class="row">
											<div class="col-2">
												<button type="reset" class="default-button">Cancel</button>
											</div>
											<div class="col-10">
												<div class="right-buttons info-button-holder">
													<button type="submit" class="primary-button">Save changes</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-1"></div>
					</div>
				</div>
				<!-- END Board View -->
			</article>
			<!-- END Container -->

		</div>
	</div>
</body>
</html>